@use "_reset";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html {
  width: 1728px;
  height: 1117px;
  background: #2c2c2c;
  color: white;
  font-family: "Poppins";
  font-style: normal;
}
